* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
    color: #000000DE;

}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
    /* background: yellowgreen; */
}

@media (max-width: 1140px) {
    .container {
        margin: 0 auto;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0 32px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    margin-bottom: 85px;

}

.hero {
    padding: 100px 0;
    background: rgba(246, 248, 251, 0.9);
}

.hero__content {
    display: inline-flex;
    align-items: center;
}

.hero__figure {
    width: 50%;
    border-radius: 4px;
    margin-right: 60px;
    background: #D9D9D9;
}
.hero__image{
    border-radius: 4px;
}

.hero__text {
    width: 50%;

}

.hero__subtitle {
    margin-top: 32px;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.87);
}

.hero__button {
    background-color: #0096A7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding: 16px 32px;


    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    border: none;

    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;

    transition: background-color 0.15s;
}

.hero__button:hover {
    background-color: #006d79;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    background: inherit;
}


.features__container {
    display: flex;
}

.features__list {
    display: flex;
    align-items: flex-start;
}

.features__item {
    display: flex;
    align-items: flex-start;
    width: calc(100%/3);
}

.features__item+.features__item {
    margin-left: 20px;
}

.features__item-icon {
    margin-right: 16px;
    flex-shrink: 0;
}

.features__item-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
}
/* моя хуйня */

.benefits__list {
    display: flex;
}

.benefits__item {
    width:calc(100% / 3);
}

.benefits__item + .benefits__item {
    margin-left: 20px;
}

.benefits__figure {
    margin-bottom: 32px;
    border-radius: 4px;
    background-color: #424A57;
}

.benefits__figure-image {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* тоже моя хуйня , но ее я щас сделаю в норм виде */
h1 h2 h3 {
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: #424A57;
}

h2 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 32px;
}

h3 {
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 24px;
}

header {
    background: rgba(66, 74, 87, 1);
    height: 144px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-label {
    height: 32px;
    flex-shrink: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__item {
    margin-left: 30px;
}

.nav__item-link {
    text-decoration: none;
    font-size: 24px;
    color: #E1E1E1;
    transition: color 0.15s;
}


.nav__item-link:hover {
    color: #0096A7;
}

footer {
    background: rgba(66, 74, 87, 0.5);
    height: 144px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-label {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    align-self: center;
    color: rgba(255, 255, 255, 1)
}

.footer__social {
    display: flex;
    justify-content: flex-end;
}

.footer__sotial-sircle {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 1);
}

.footer__sotial-icon {
    display: flexbox;
}