
body{background: #0F2027;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
header{
    width: 250px;
    background-color: rgba(240, 255, 255, 0.168);
}
nav{
    display: flex;
    justify-content: flex-start;
    width: 200px;
    color:black;

}
main{
    display: flex;
    justify-content: flex-end;

}

    p{color: rgb(0, 0, 0);}

    .main-header{color: rgb(214, 243, 234);
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.133);
    /* margin-left: 20px; */

}